# Virtual Environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Temporary files
tempCodeRunnerFile.py

# OS files
.DS_Store
Thumbs.db

# Generated PDFs (optional)
*.pdf